$number_of_slides: 4;

.days-slider {
  @apply mb-[72px];

  & .slick-dots {
    @apply bottom-[-50px] md:bottom-[-58px];
  }

  & .slick-dots > li {
    @apply h-10 w-10;
  }

  & .slick-dots > li > button {
    @apply h-10 w-10;
  }

  & .slick-dots > li > button::before {
    @apply h-10 w-10 rounded-full bg-green-100 p-2 font-montserrat text-base font-bold text-blue opacity-100;
  }

  @for $i from 1 through $number_of_slides {
    & .slick-dots > li:nth-child(#{$i}) > button::before {
      content: '#{$i}';
    }
  }

  & .slick-dots > li.slick-active > button:before {
    @apply bg-green text-white opacity-100;
  }
}

.days-slide {
  &.decor {
    @apply relative z-[1] overflow-hidden;

    &::before,
    &::after {
      @apply absolute z-[-1] bg-cover bg-center bg-no-repeat content-[""];
    }

    &::before {
      @apply h-[356px] w-[381.5px] smOnly:bottom-[-138px] smOnly:left-1/2 smOnly:-translate-x-1/2;
      @apply md:right-[-410px] md:top-1/2 md:h-[712px] md:w-[763px] md:-translate-y-1/2 md:-rotate-90;
      @apply xl:right-[-290px] xl:h-[812px] xl:w-[863px];

      background-image: image-set(
        '../images/sections/days/circle-mobile@1x.webp' 1x,
        '../images/sections/days/circle-mobile@2x.webp' 2x
      );

      @media screen and (min-width: 768) {
        background-image: image-set(
          '../images/sections/days/circle@1x.webp' 1x,
          '../images/sections/days/circle@2x.webp' 2x
        );
      }
    }

    &::after {
      @apply z-[-1] h-[160px] w-[200px] smOnly:bottom-[12px] smOnly:left-1/2 smOnly:-translate-x-1/2;
      @apply md:right-[32px] md:top-1/2 md:h-[212px] md:w-[260px] md:-translate-y-1/2;
      @apply xl:right-[60px] xl:h-[343px] xl:w-[420px];
    }

    @for $i from 1 through $number_of_slides {
      &.day-#{$i}::after {
        background-image: image-set(
          '../images/sections/days/day-#{$i}@1x.webp' 1x,
          '../images/sections/days/day-#{$i}@2x.webp' 2x
        );
      }
    }
  }
}
