{% set section = advantages %}

<section class="{{section.id}} section">
  <div class="container">
    <h2 class="section-title">{{section.title}}</h2>
    <ul
      class="mb-8 flex flex-col gap-x-8 gap-y-6 md:flex-row md:flex-wrap xl:mx-auto xl:w-[1008px] xl:gap-y-10"
    >
      {% for advantage in section.advantages_list %}
      <li class="md:basis-[calc((100%-32px)*0.5)]">
        <div
          class="flex gap-2 rounded-[18px] bg-white-dark p-3 md:gap-4 md:p-4 xl:gap-7 xl:text-xl"
        >
          <div
            class="flex md:h-[60px] md:w-[60px] h-12 flex-shrink-0 w-12 items-center justify-center rounded-xl {{advantage.svg.bg}}"
          >
            <svg width="{{advantage.svg.width}}" height="{{advantage.svg.height}}">
              <use href="./assets/images/sprite.svg#{{advantage.svg.name}}"></use>
            </svg>
          </div>
          <p class="font-bold md:text-lg">{{advantage.text}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>

    <button type="button" class="btn mx-auto w-full md:w-[328px]" data-modal-open>
      {{section.btn_modal}}
    </button>
  </div>
</section>
