{% set section = hero %}

<section
  class="hero bg-green-100 pb-[60px] pt-[72px] md:pb-20 md:pt-[84px] xl:pb-[60px] xl:pt-[100px]"
>
  <div
    class="circle container flex flex-col gap-10 md:flex-row md:gap-8 xl:justify-between xl:gap-11"
  >
    <div
      class="laptops flex flex-col gap-5 md:gap-8 md:pb-[172px] md:pt-10 xl:w-[560px] xl:pb-[195px] xl:pt-12 mdOnly:basis-1/2"
    >
      <p class="text-xs md:text-base">{{section.subtitle}}</p>

      <h1
        class="text-[28px] font-bold leading-9 md:text-4xl md:leading-[44px] xl:text-6xl xl:leading-[72px]"
      >
        {{section.title.text}}
        <span class="font-lato italic text-green" lang="en">{{section.title.accent}}</span>
      </h1>

      <p class="text-sm md:text-lg smOnly:mr-4">{{section.text}}</p>

      <p
        class="w-fit rounded-[20px] bg-accent px-4 py-1 text-xs font-semibold leading-5 text-white md:py-2 md:text-sm"
      >
        {{section.text_accent}}
      </p>
    </div>

    <div
      class="h-[448px] rounded-lg border border-green p-10 text-center md:h-[564px] xl:w-[416px] mdOnly:basis-1/2"
    >
      тут може бути ваша форма
    </div>
  </div>
</section>
