{% set formId = form.modal.id %}

<div class="backdrop is-hidden smOnly:px-5" data-modal>
  <div class="modal bg-white text-black-light">
    <button
      class="modal-close-btn"
      type="button"
      data-modal-close
      aria-label="{{form.modal.btnCloseAria}}"
    >
      <svg
        class="modal-btn-close-svg md:h-8 md:w-8"
        width="24"
        height="24"
        aria-label="{{form.modal.btnCloseAria}}"
      >
        <use href="./assets/images/sprite.svg#icon-close-menu"></use>
      </svg>
    </button>

    <h2 class="px-8 text-center text-sm font-bold md:text-lg">{{form.title}}</h2>

    <p class="px-12 py-1 text-center text-xs font-semibold md:px-5 md:py-3 md:text-sm xl:text-base">
      {{form.subtitle.text_1}}
      <span class="font-lato italic">{{form.subtitle.accent}}</span>{{form.subtitle.text_2}}
    </p>

    <div class="px-5 xl:px-11">
      <div class="mb-5 flex h-16 items-center justify-center rounded-2xl">
        {% include 'components/timer.html' %}
      </div>

      {% include './formFields.njk' %}
    </div>
  </div>
</div>
