{% set component = components.timer %}
<!--  -->
{% if component.startDate.active === true %} {% set component = component.startDate %}
<!--  -->
{% elif component.fixedTime.active === true %} {% set component = component.fixedTime %}
<!--  -->
{% endif %}

<div class="timer" data-timer="{{component.count}}">
  {% if component.text%}
  <p>{{component.text}}</p>
  {% endif %}

  <ul class="flex justify-center gap-1">
    {% for item in component.items %}
    <li class="grid text-center">
      <span class="counter max-w-max" {{item.attribute}}>00</span>
      <span class="text">{{item.text}}</span>
    </li>
    {% if not loop.last %}
    <li class="counter">:</li>
    {% endif %} {% endfor %}
  </ul>
</div>
